openapi: 3.0.3
info:
  title: Pediatria — FHIR adapter & API
  version: "0.1.0"
  description: >
    Minimal OpenAPI describing endpoints to read/write Patient, Encounter and
    Observation in FHIR R4 (`application/fhir+json`). Implementar la lógica
    interna en /backend/fhir-adapter.
servers:
  - url: https://api.tuservidor.cl
paths:

  /api/patients:
    get:
      summary: List patients (internal format)
      responses:
        '200':
          description: List of patients (internal schema)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PatientInternal'

  /api/patients/{id}/observations:
    get:
      summary: Get last observations for a patient (internal rows)
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Observations (internal schema)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ObservationInternal'

  /fhir/Patient/{id}:
    get:
      summary: FHIR R4 Patient read
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: FHIR Patient resource (R4)
          content:
            application/fhir+json:
              schema:
                type: object
                description: FHIR R4 Patient resource
                example:
                  $ref: './examples/patient-example.json'
        '404':
          description: Not found

  /fhir/Observation:
    get:
      summary: Search Observations (FHIR R4)
      parameters:
        - in: query
          name: subject
          schema:
            type: string
            description: Patient id (Patient/{id})
        - in: query
          name: code
          schema:
            type: string
            description: LOINC or code filter (e.g. 8867-4)
      responses:
        '200':
          description: Bundle of Observations (FHIR)
          content:
            application/fhir+json:
              schema:
                type: object
                description: FHIR Bundle of Observation
                example:
                  $ref: './examples/observation-bundle-example.json'

  /fhir/Encounter/{id}:
    get:
      summary: FHIR Encounter read
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: FHIR Encounter
          content:
            application/fhir+json:
              schema:
                type: object
                description: FHIR R4 Encounter resource
                example:
                  $ref: './examples/encounter-example.json'

components:
  schemas:
    PatientInternal:
      type: object
      properties:
        id: { type: string }
        rut: { type: string }
        given_name: { type: string }
        family_name: { type: string }
        birth_date: { type: string, format: date }
        created_by: { type: string }

    ObservationInternal:
      type: object
      properties:
        id: { type: string }
        patient_id: { type: string }
        type: { type: string }
        timestamp: { type: string, format: date-time }
        value: {}
        unit: { type: string }
        loinc: { type: string }

security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
